body {
  min-width: 360px;
  padding-bottom: $generalPadding * 2;

  &:before {
    content: "";
    display: blocK;
    position: fixed;
    top:0;
    z-index: 1;
    background: $white;
    animation-duration: .8s;
    animation-name: preload;
    animation-timing-function: ease-in-out;
  }

  > header {
    background-color: $color2;
    padding: $generalPadding * 2;
    margin-bottom: $generalMarginBottom;

    h1 {
      margin-bottom: 0;
      text-align: center;
    }
  }
}

footer {
  background-color: rgba($color3, .8);
  width: 100%;
  text-align: center;
  padding: $generalPadding;
  color: $color2;
  letter-spacing: 1px;
  width: 120px;
  bottom: 0;
  position: fixed;
  left: 0;
  margin: 0 auto;
  right: 0;
  padding: $generalPadding / 2;
  border-radius: 15px 15px 0 0;
}

.store {
  padding: $generalPadding * 2;
  @include rounded(25px);
}

.cart {
  border: 3px dashed $color1;
  min-height: 150px;
  position: relative;
  @include rounded(15px);
  padding: $generalPadding *2;

  span {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    font-weight: lighter;
    padding: $generalPadding;

    &.hide {
      display: none;
    }
  }


}

.store, .cart {
  transition: all .3s ease-in-out;

  &.dragOver {
    background-color: $color2lighter;
    transform: scale(1.05);
  }
}

.list {
  display: grid;
  @include col3;
  grid-gap: $gridGap;
  justify-content: space-center;

  .item {
    margin-bottom: 0;
  }
}